@model WebAppBugReport.Data.Models.BugList

<div>
    <h4>Bug</h4>
    <hr />
    <dl class="dl-horizontal">

        @foreach (var item in Model.Bugs)
        {
            <dt>
                @item.Summary
            </dt>
        }




    </dl>
</div>

