@model WebAppBugReport.Data.Models.Project
@{
    ViewBag.Title = "Delete";
}
@{
    Layout = null;
}


<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Вы уверены, что хотите удалить этого пользователя из проекта</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Имя пользователя</dt>
            <dt>Почта</dt>
            <dd>@Html.DisplayFor(model => model.ProjectName)</dd>
            @*<dd>@Html.DisplayFor(model => model.Email)</dd>*@
        </dl>



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="DeleteUser" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }

    </div>

</div>
