@using WebAppBugReport.Data.Models
@model ProjectPagingViewModel


@using WebAppBugReport.Helpers

@{
    ViewBag.Title = "Index";
}

<h2 class="row-padding" style="padding:25px 0; font-weight:bold; opacity:0.9">
    Available Projects
    <a href="/Projects/Create/" class="btn"><i class="fa fa-plus btn-lg"></i></a>
</h2>



<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>


<div class="row">
    @foreach (Project project in Model.Projects)
    {
        if (User.IsInRole("Admin"))
        {
            <div class="col-md-4 " style="padding-top:40px">
                <div class="card card-body-project wide ">
                    <div class="card-title navbar-brand" style="background: #5B7065;  color:white; height: 40px; text-align: center; padding-top: 10px; font-size:15px; width:100%"> @project.ProjectName</div>
                    <div class="card ">
                        <img src="~/UploadedFile/iconfinder_18333_folder_grey_icon_128px.png" class="card-img-top center-block">
                        <div class="card-body">
                            <div class="btn-group  " role="group" style="width:100% ">
                                <a href="/Bug/ListBugs/@project.Id" class="btn btn-primary  " style="width:50%">Board</a>

                                <a href="/Projects/Details/@project.Id" class="btn btn-primary" style="width:50%">Details</a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
        else if (project.Users.Contains(ViewBag.Users))
        {
            <div class="col-md-4 " style="padding-top:40px">
                <div class="card card-body-project wide ">
                    <div class="card-title navbar-brand" style="background: #5B7065;   color:#d5deeb; height: 40px; text-align: center; padding-top: 10px; font-size:15px; width:100%"> @project.ProjectName</div>
                    <div class="card ">
                        <img src="~/UploadedFile/iconfinder_18333_folder_grey_icon_128px.png" class="card-img-top center-block">
                        <div class="card-body">
                            <div class="btn-group  " role="group" style="width:100% ">
                                <a href="/Bug/ListBugs/@project.Id" class="btn btn-primary  " style="width:50%">Board</a>

                                <a href="/Projects/Details/@project.Id" class="btn btn-primary" style="width:50%">Details</a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>


@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
<br />

@*    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
    </div>*@


