@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />*@

<style>
    /* demo background */
    body {
        @*background: #23074D;
        background: -webkit-linear-gradient(to right, #CC5333, #23074D);
        background: linear-gradient(to right, #CC5333, #23074D);*@
        @*background: url(/UploadedFile/software-testing-principle-04.jpg);*@
        background: url(/UploadedFile/iron_texture1742.jpg);
        background-size: 20%;
    }

    /* demo snippet */
    .hoversnippet {
        padding-top:0px;
        background-color: #fff;
        color: #ffffff;
        display: inline-block;
        font-size: 16px;
        overflow: hidden;
        position: relative;
        text-align: left;
        width: auto;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .hoversnippet *,
    .hoversnippet *:before,
    .hoversnippet *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.45s ease;
        transition: all 0.45s ease;
    }

    .hoversnippet img {
        backface-visibility: hidden;
        vertical-align:auto;
    }

    .hoversnippet:before,
    .hoversnippet:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background-color: #b81212;
        opacity: 0.5;
        -webkit-transition: all 0.45s ease;
        transition: all 0.45s ease;
    }

    .hoversnippet:before {
        -webkit-transform: skew(30deg) translateX(-80%);
        transform: skew(30deg) translateX(-80%);
    }

    .hoversnippet:after {
        -webkit-transform: skew(-30deg) translateX(-70%);
        transform: skew(-30deg) translateX(-70%);
    }

    .hoversnippet figcaption {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 1;
        bottom: 0;
        padding: 25px 40% 25px 20px;
    }

    .hoversnippet figcaption:before,
    .hoversnippet figcaption:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: @*#b81212;*@  #0a2654;
        box-shadow: 0 0 20px rgba(0, 30, 0, 0.7);
        content: '';
        opacity: 0.5;
        z-index: -1;
    }

    .hoversnippet figcaption:before {
        -webkit-transform: skew(30deg) translateX(-100%);
        transform: skew(30deg) translateX(-100%);
    }

    .hoversnippet figcaption:after {
        -webkit-transform: skew(-30deg) translateX(-90%);
        transform: skew(-30deg) translateX(-90%);
    }

    .hoversnippet h3,
    .hoversnippet p {
        margin: 0;
        opacity: 0;
        letter-spacing: 1px;
    }

    .hoversnippet h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
        text-transform: uppercase;
        width: auto;
    }

    .hoversnippet p {
        font-size: 0.9em;
    }

    .hoversnippet a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .hoversnippet:hover h3,
    .hoversnippet.hover h3,
    .hoversnippet:hover p,
    .hoversnippet.hover p {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0.9;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    .hoversnippet:hover:before,
    .hoversnippet.hover:before {
        -webkit-transform: skew(30deg) translateX(-20%);
        transform: skew(30deg) translateX(-20%);
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }

    .hoversnippet:hover:after,
    .hoversnippet.hover:after {
        -webkit-transform: skew(-30deg) translateX(-10%);
        transform: skew(-30deg) translateX(-10%);
    }

    .hoversnippet:hover figcaption:before,
    .hoversnippet.hover figcaption:before {
        -webkit-transform: skew(30deg) translateX(-40%);
        transform: skew(30deg) translateX(-40%);
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }

    .hoversnippet:hover figcaption:after,
    .hoversnippet.hover figcaption:after {
        -webkit-transform: skew(-30deg) translateX(-30%);
        transform: skew(-30deg) translateX(-30%);
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
</style>


    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <figure class="hoversnippet">
                @*<img src="~/UploadedFile/InstantQA_Blogpost.jpg" class="img-responsive" alt="Red Hover Effect" />*@
                @*<img src="~/UploadedFile/5-Qualities-Of-A-Good-QA-Engineer.jpg" class="img-responsive" alt="Red Hover Effect" />*@
                @*<img src="~/UploadedFile/software-testing-principle-04.jpg" class="img-responsive" alt="Red Hover Effect" />*@

                <figcaption>
                    <h3>DESIGNER BOOTSTRAP</h3>
                    <p>Huli designer ili ne huli</p>
                </figcaption>
                <a href="#"></a>
            </figure>

        </div>
    </div>
