.backHeader {

    background: #04202C;
    min-height:70px
}

.backHeader a {
    /*color: white;*/
}

.row-padding {
    padding: 18px 0px 0px 10px;

}

.control-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    display: inline-block;
    margin-bottom: .5rem;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #5B7065;
    color: #fff;
    width: 100%;
}

body {
    min-width: 620px;
}




.column {
    width: 224px;
    float: left;
    padding-bottom: 100px;
}

.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
    
}

.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
    cursor: move
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.portlet-content {
    padding: 0.4em;
    font-size:12px
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}


.column-header-test {
    width: 230px;
    float: left;
    padding: 18px 0px 0px 0px;
    font-family:'Adobe Devanagari'
}


.back-column {
    padding: 5px 0px 0px 10px;
    background-color: #f4f5f7;
    border: none;
    min-height: 1000px;
    max-height: max-content;
    margin: 18px 0px 0px 0px;
    border-radius: 10px;
}




#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/*.modal-img {*/
    /*display: none; 
    position: fixed; */
    /*z-index: 1;*/ 
    /*padding-top: 0px; 
    left: 0;
    top: 0;
    width: auto; 
    height: auto;*/ 
    /*overflow:auto; */
    /*background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}*/


.modal-content-img {
    margin: auto;
    width: 100%;
   /* max-width: 100%;*/

}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 80px;
}


.modal-content-img, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}




.close-img {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-img:hover,
.close-img:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.cut-text {
    white-space: nowrap; 
    overflow: hidden; 
    padding-right: 15px; 
    text-overflow: ellipsis;
}


.user-info-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
    color: white;
}

.card-elem-padding-img {
    padding:6px 0px 0px 18px;
}

.card-elem-padding-details {
    padding: 10px 0px 0px 18px;
}

.card-elem-padding-photo {
    padding: 10px 0px 0px 10px;
}